:root {
  --logo-text-color: #000000;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --h2-h3-link-color: #212121;
  --body-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --features-bg-color: #f5f5f5;
  --crew-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --border-bottom-color: #ececec;
  --border-card-color: #eeeeee;
  --border-color: transparent;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* Шапка */
.page-header {
  display: flex;
  border-bottom: 1px solid var(--border-bottom-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.24;

  color: var(--accent-color);
}
.link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo-wrap {
  color: var(--logo-text-color);
}
.nav-line {
  margin-right: 93px;
}

.nav {
  display: block;
}
.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h2-h3-link-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  gap: 50px;
}
.a {
  margin-right: 344px;
}
.site-cont {
  display: flex;
  gap: 50px;
}

.nav-cont {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-cont:hover,
.nav-cont:focus {
  color: var(--accent-color);
}
/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background: var(--hero-bg-color);
}
.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0 solid transparent;

  color: var(--body-bg-color);
  background: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.hero-tittle {
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--body-bg-color);
}
/* Характеристики */
/* .features {
} */
.section-features {
  /* padding-top: 0;
  padding-bottom: 94px; */
}
.hidden-tittle {
  display: none;
}
.features-tittle {
  font-weight: 700;
  line-height: 1.14;
  margin-left: 0;
  text-transform: uppercase;
  color: var(--h2-h3-link-color);
}
.features-text {
  margin-top: 10px;
  margin-left: 0;
  font-weight: 400;
  line-height: 1.71;
}
/* Чим ми займаємось */
.service-tittle {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  color: var(--h2-h3-link-color);
}
.service-menu {
  display: flex;
}
.service-menu:not(:last-child) {
  margin-left: 30px;
}

/* Команда */
.crew {
  background: var(--crew-bg-color);
}

.crew-tittle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--h2-h3-link-color);
}
.crew-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.crew-card {
  background-color: var(--body-bg-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.crew-pic {
  margin-bottom: 30px;
}
.crew-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--h2-h3-link-color);
}
.crew-position {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-bg-color);
}

.logo-footer {
  color: var(--body-bg-color);
}
.link-footer {
  margin-bottom: 20px;
  display: inline-block;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  color: var(--body-bg-color);
}
.footer-contact {
  margin-bottom: 9px;
}
.footer-contact-tel {
  margin-bottom: 9px;
}
.contact {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;

  color: var(--secondary-text-color);
}
.contact:hover {
  color: var(--accent-color);
}
.contact:focus {
  color: var(--accent-color);
}

/* Стилі для Портфоліо */
.portfolio-items {
}

.porfolio-menu {
  gap: 8px;
  align-items: center;
  display: flex;
  min-inline-size: 575px;
  /* padding: ; */
  margin-left: 512px;
  margin-right: 513px;
}

.portfolio-btn {
  padding: 6px 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  cursor: pointer;
  color: var(--h2-h3-link-color);
  background: var(--crew-bg-color);
  border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  color: var(--body-bg-color);
}
.portfolio-active-btn {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #2196f3;
  color: #ffffff;
}
/* .current-portfolio {
  color: var(--hero-bg-color);
}
.current-portfolio:hover,
.current-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--body-bg-color);
} */

.portfolio-works {
  display: flex;
  gap: 30px;
}
.card {
  border-top: none;
  border: 1px solid var(--border-card-color);
}

.portfolio-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-h3-link-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
